footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}
