body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center; /* centra el contenido por defecto */
  background-color: #fff;
}
h1 {
  margin: 20px 0;
}

p img {
  display: block;
  margin: 0 auto 20px;
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Video */
video {
  display: block;
  margin: 20px auto;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}
